@{
    ViewData["Title"] = "AdminIndex";
}
<h1>Welcome Administrators</h1>
<hr />
<p>Create lease contract <!--<a asp-action="" class="elements"><span>here.</span></a>--></p>
<p>Check history/balance <!--<a asp-action="" class="elements"><span>here.</span></a>--></p>
<p>Add late fees, terminate contract</p>
<p>Update inventory</p>
<p>Generate reports</p>
