
@{
    ViewData["Title"] = "UserIndex";
}
<h1>Welcome Users</h1>
<hr />
<p>View/Search listings <!--<a asp-action="" class="elements"><span>here.</span></a>--></p>
<p>Request new lease contract <!--<a asp-action="" class="elements"><span>here.</span></a>--></p>
<p>Check/Pay dues</p>
<p>Add recommendation</p>
<p>Request early termination</p>